.bot_side {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  text-align: left;
}

#stockForm {
  margin-left: 10%;
  grid-column: 2;
  width: 100%;
  height: 100%;
}

.l-lab{
  color: #ccc;
  padding-right: 20%;
  font-weight: bold;
  font-size: 18px;
  font-family: monospace;
}

.l-inp{
  width: 70%;
  height: 25px;
  border-radius: 3px;
}

#fn, #ln {
  width: 32%;
  margin-right: 5%;
}

.bot_side .button-19 {
  width: 30%;
  margin-left: 20%; !important
}
