{% extends 'main.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
<script>
  function addFields() {
    var maxFields = 14;
    var currentFields = document.querySelectorAll('.duplicate-field').length;

    if (currentFields < maxFields) {
      document.getElementById('counter').innerHTML = ":" + (currentFields+2)
      var wrapper = document.getElementById('duplicate-fields');
      var fieldHTML = '<div class="duplicate-field"><br>' +
        '<label class="l-lab" for="game">G.A.M.E:</label><br>' +
        '<select class="l-inp" name="gameName[]" required>' +
        '<option value="MM super">MM super</option>' +
        '<option value="MM Fardeaux">MM Fardeaux</option>' +
        '<option value="GMM">GMM</option>' +
        '<option value="GMM x25">GMM x25</option>' +
        '<option value="GMM x30">GMM x30</option>' +
        '<option value="MM IMP MANTOUDJ">MM IMP MANTOUDJ</option>' +
        '<option value="PM">PM</option>' +
        '<option value="GM IMP">GM IMP</option>' +
        '<option value="GM IMP x20">GM IMP x20</option>' +
        '<option value="PAIN">PAIN</option>' +
        '<option value="POUBELLE BASE">POUBELLE BASE</option>' +
        '<option value="POUBELLE">POUBELLE</option>' +
        '<option value="CONGELATION">CONGELATION CARTON</option>' +
        '<option value="GGM">GGM</option>' +
        '<option value="WELCOME">WELCOME</option>'+
        '</select>' +
        '<br><br>' +
        '<label class="l-lab" for="number">Number:</label><br>' +
        '<input type="number" class="l-inp" name="number[]" required>' +
        '<br><br>' +
        '<label class="l-lab" for="unit">Unit:</label><br>' +
        '<input type="number" class="l-inp" name="unit[]" required>' +
        '<br><br>' +
        '<label class="l-lab" for="unitPrice">Unit Price:</label><br>' +
        '<input type="number" class="l-inp" name="unitPrice[]" required>' +
        '<br><br>' +
        '<button type="button" onclick="removeFields(this)" class="button-19">-</button>' +
        '<br><br>'+
        '</div>';

      var newDiv = document.createElement('div');
      newDiv.innerHTML = fieldHTML;
      wrapper.appendChild(newDiv);
    } else {
      alert('You can add up to 15 games.');
    }
  }

  function removeFields(button) {
    var wrapper = document.getElementById('duplicate-fields');
    var fieldToRemove = button.parentNode.parentNode; 
    var currentFields = document.querySelectorAll('.duplicate-field').length;
    document.getElementById('counter').innerHTML = ":" + (currentFields)
    wrapper.removeChild(fieldToRemove);
  }
</script>
<title>Add Client</title>
{% endblock %}

{% block top %}
<a href="/client" id="back"><div class="thick-arrow-left"></div></a>
<a href="/main" id="aclose"><div class="close"></div></a>
{% endblock %}

{% block bot %}
<form id="stockForm" action="/client/add" method="post">
  <label class="l-lab" for="firstName">Nom:</label>
  <label class="l-lab" for="lastName">Prenom:</label>
  <br>
  <input id="fn" type="text" class="l-inp" name="firstName" required>
  <input id="ln" type="text" class="l-inp" name="lastName" required>
  <br><br>
  
  <label class="l-lab" for="game">G.A.M.E:</label><br>
  <select class="l-inp" name="gameName[]" required>
    <option value="MM super">MM super</option>
    <option value="MM Fardeaux">MM Fardeaux</option>
    <option value="GMM">GMM</option>
    <option value="GMM x25">GMM x25</option>
    <option value="GMM x30">GMM x30</option>
    <option value="MM IMP MANTOUDJ">MM IMP MANTOUDJ</option>
    <option value="PM">PM</option>
    <option value="GM IMP">GM IMP</option>
    <option value="GM IMP x20">GM IMP x20</option>
    <option value="PAIN">PAIN</option>
    <option value="POUBELLE BASE">POUBELLE BASE</option>
    <option value="POUBELLE">POUBELLE</option>
    <option value="CONGELATION">CONGELATION CARTON</option>
    <option value="GGM">GGM</option>
    <option value="WELCOME">WELCOME</option>
  </select>

  <br><br>
  <label class="l-lab" for="number">Nombre:</label><br>
  <input type="number" class="l-inp" name="number[]" required>
  <br><br>
  <label class="l-lab" for="unit">Unite:</label><br>
  <input type="number" class="l-inp" name="unit[]" required>
  <br><br>
  <label class="l-lab" for="unitPrice">Prix d'unite:</label><br>
  <input type="number" class="l-inp" name="unitPrice[]" required>
  <br><br>
  <button type="button" onclick="addFields()" class="button-19 cen">+</button>
  <b><label id="counter">:1</label></b>
  <br><br>
  <div id="duplicate-fields"></div>

  <button type="Submit" id="submitButton" class="button-19 cen">Enregistre</button>
  <br><br><br>
</form>
{% endblock %}
