{% extends 'main.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
<title>calc workers</title>
<style>
.l-lab {
  padding-right: 20%;
}

h1 {
  margin-left: 15%;
  margin-top: 20%;
  color: #ddd;
}
</style>
{% endblock %}

{% block top %}
<a href="/client" id="back"><div class="thick-arrow-left"></div></a>
<a href="/main" id="aclose"><div class="close"></div></a>
{% endblock %}

{% block bot %}
<form id="stockForm" action="/client/calc" method="post">
  <br><br><br><br>
  <label class="l-lab" for="start">Premier jour:</label>
  <label class="l-lab" for="last">Dernier jour:</label>
  <br>
  <input id="fn" type="date" class="l-inp" name="start" required>
  <input id="ln" type="date" class="l-inp" name="last" required>
  <br><br>
  <button type="Submit" id="submitButton" class="button-19 cen">Enregistre</button>
  <br><br><br>
</form>
<h1>{{ message }}</h1>
{% endblock %}
