{% extends 'main.html' %}

{% block head %}
<title>Client View</title>
<style>
  
  .p {
    width: 50%;
    margin: 25%;
    margin-top: 1%;
    margin-bottom: 1%
  }

  table {
    border-collapse: collapse;
    width: 94%;
    margin: 3%;
    margin-top: 1%;
  }

  th, td {
    border: 1px solid #333344;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) td {
    background-color: #3a8cff;
  }

  tr:nth-child(odd) td {
    background-color: #4ba0ff;
  }
</style>
{% endblock %}

{% block top %}
<a href="/client/view" id="back"><div class="thick-arrow-left"></div></a>
<a href="/main" id="aclose"><div class="close"></div></a>
{% endblock %}

{% block bot %}
<h1>{{ user_data[2] }}</h1>
<h2>Client: {{ user_data[0] }} {{ user_data[1] }}</h2>
<table>
  <tr>
    <th>Game</th>
    <th>Nombre</th>
    <th>Unite</th>
    <th>Prix d'Unite</th>
    <th>Total</th>
  </tr>
  {% for game in games %}
    <tr>
      <td>{{ game.name }}</td>
      <td>{{ game.number }}</td>
      <td class="dFloat">{{ game.unit }}</td>
      <td class="dFloat">{{ game.unitp }}</td>
      <td class="dFloat">{{ game.total }}</td>
    </tr>
  {% endfor %}
</table>
<table class="p" onclick="window.location='/client/view/{{ id }}/payment';" style="cursor: pointer;">
  <tr>
    <th>Total</th>
    <th>Versement</th>
    <th>Sold</th>
  </tr>
  <tr>
    <td class="dFloat">{{ total }}</td>
    <td class="dFloat">{{ payment }}</td>
    <td class="dFloat">{{ sold }}</td>
  </tr>
</table>
<br>
<form method="POST" action="/client/view/{{ id }}">
  <input type="text" pattern="[0-9]+(\.[0-9]+)?" id="pay" name="pay" required>
  <br>
  <button type="submit" class="button-19">Ajoute versement</button>
</form>
<br>
<button class="button-19" onclick="window.open('/client/view/{{ id }}/makePDF', '_blank')" >PDF</button>
<br>
{% endblock %}
