{% extends 'main.html' %}

{% block head %}
<title>Client</title>
{% endblock %}

{% block top %}
<a href="/main" id="back"><div class="thick-arrow-left"></div></a>
<a href="/main" id="aclose"><div class="close"></div></a>
{% endblock %}

{% block bot %}
  <a href="/client/view"><button type="button" class="button-19 bot">View clients</button></a>
  <br><br>
  <a href="/client/add"><button type="button" class="button-19 bot">Add client</button></a>
  <br><br>
  <a href="/client/edit"><button type="button" class="button-19 bot">Modify client</button></a>
  <br><br>
  <a href="/client/remove"><button type="button" class="button-19 bot">Remove client</button></a>
{% endblock %}
