{% extends 'main.html' %}

{% block head %}
<title>Stock View</title>
<style>
  table {
    border-collapse: collapse;
    width: 40%;
    margin: 30%;
    margin-top: 1%;
  }
</style>
{% endblock %}

{% block top %}
<a href="/detail" id="back"><div class="thick-arrow-left"></div></a>
<a href="/main" id="aclose"><div class="close"></div></a>
{% endblock %}


{% block bot %}

<form method="POST" action="/detail/view">
  <b><label for="search_date">Recherche par Date:</label></b>
  <input type="date" id="search_date" name="search_date">
  <button type="submit">Recherche</button>
</form>

<table>
  <tr>
    <th>DATE</th>
  </tr>
  {% for date in dates %}
  <tr>
    <td onclick="window.location='/detail/view/{{ date[0] }}';" style="cursor: pointer;">{{ date[0] }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
