{% extends 'main.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/d_form.css') }}">
<title>Details View</title>
<style>
  .grid-container{
    border: 3px solid black;
  }
</style>
{% endblock %}

{% block top %}
<a href="/detail/view/{{ date }}" id="back"><div class="thick-arrow-left"></div></a>
<a href="/main" id="aclose"><div class="close"></div></a>
{% endblock %}


{% block bot %}
<form action="/detail/view/{{ date }}/{{ name }}" method="post">
  <div class="grid-container">
    <div class="grid-item">
      <label for="ndm">Nombre de mellange:</label><br>
      <input type="text" id="ndm" name="ndm" value="{{ data[0] }}" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number"  oninput="update()"><br>
    </div>
    <div class="grid-item">
      <label for="pudm">Pois/Unit de mellange:</label><br>
      <input type="text" id="pudm" name="pudm" value="{{ data[1] }}" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number"  oninput="update()"><br>
    </div>
    <div class="grid-item">
      <label>Pois/Total de mellange:</label><br>
      <span id="totalPoids"></span>
    </div>
    <div class="grid-item">
      <label for="pf">Pois fardo:</label><br>
      <input type="text" id="pf" name="pf" value="{{ data[2] }}" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number" oninput="update()"><br>
    </div>
    <div class="grid-item">
      <label>Nombre de fardo theoriquement:</label><br>
      <span id="nft"></span>
    </div>
    <div class="grid-item">
      <label for="pfb">poid/film et bloc:</label><br>
      <input type="text" id="pfb" name="pfb" value="{{ data[3] }}" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number" oninput="update()"><br>
    </div>
    <div class="grid-item">
      <label for="pbe">poid/bobine extrude:</label><br>
      <span id="pbe"></span>
    </div>
    <div class="grid-item">
      <label for="dd">dechet deuxiem:</label><br>
      <input type="text" id="dd" name="dd" value="{{ data[4] }}" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number" oninput="update()"><br>
    </div>
    <div class="grid-item">
      <label for="pbf">poid/bobine finale:</label><br>
      <span id="pbf"></span>
    </div>
    <div class="grid-item">
      <label for="stock">Nombre de fardo reel:</label><br>
      <input type="text" id="stock" name="stock" value="{{ data[5] }}" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number" oninput="update()"><br>
    </div>
    <div class="grid-item">
      <label for="unit">Unite:</label><br>
      <input type="text" id="unit" name="unit" value="{{ data[6] }}" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number" oninput="update()"><br>
    </div>
    <div class="grid-item">
      <label for="p_unit">Prix d'unite:</label><br>
      <input type="text" id="p_unit" name="p_unit" value="{{ data[7] }}" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number" oninput="update()"><br>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item">
      <label>Valeur du stock:</label><br>
      <span id="v_stock"></span>
    </div>
    <div class="grid-item"></div>
  </div>
  <button type="submit" class="button-19">Sauvgarder</button>
</form>
<br><br><br>
<script>
  update();
  function update() {
    var ndmValue = parseFloat(document.getElementById('ndm').value) || 0;
    var pudmValue = parseFloat(document.getElementById('pudm').value) || 0;
    var dd = parseFloat(document.getElementById('dd').value) || 0;
    var pfValue = parseFloat(document.getElementById('pf').value) || 1;
    var pfbValue = parseFloat(document.getElementById('pfb').value) || 1;
    var stockValue = parseFloat(document.getElementById('stock').value) || 0;
    var unitValue = parseFloat(document.getElementById('unit').value) || 0;
    var pUnitValue = parseFloat(document.getElementById('p_unit').value) || 0;

    var totalPoids = ndmValue * pudmValue;
    document.getElementById('totalPoids').textContent = totalPoids;

    var pbeValue = totalPoids - pfbValue;
    document.getElementById('pbe').textContent = pbeValue;

    var nft = totalPoids / pfValue;
    document.getElementById('nft').textContent = nft;

    var pbf = pbeValue - dd;
    document.getElementById('pbf').textContent = pbf;

    var calc3 = stockValue * unitValue * pUnitValue;
    document.getElementById('v_stock').textContent = calc3.toFixed(2);

    var diff = Math.abs(stockValue - nft);
      if (diff >= 5) {
        document.querySelector('.grid-container').style.backgroundColor = '#ee3434';
      } 
      else {
        document.querySelector('.grid-container').style.backgroundColor = '';
      }
  }
</script>
{% endblock %}
