{% extends 'main.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/d_form.css') }}">
<title>Stock View</title>
<style>
  table {
    border-collapse: collapse;
    width: 40%;
    margin: 30%;
    margin-top: 1%;
  }

  th, td {
    border: 1px solid #333344;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) td {
    background-color: #3a8cff;
  }

  tr:nth-child(odd) td {
    background-color: #4ba0ff;
  }
</style>
{% endblock %}

{% block top %}
<a href="/detail/view/{{ date }}" id="back"><div class="thick-arrow-left"></div></a>
<a href="/main" id="aclose"><div class="close"></div></a>
{% endblock %}


{% block bot %}
<form action="/detail/view/{{ date }}/{{num}} " method="post">
  <div class="grid-container">
    <div class="grid-item">
      <label for="ndm">Nombre de mellange:</label><br>
      <input type="text" id="ndm" name="ndm" value="{{ data[0] }}" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number" oninput="calculateTotal()"><br>
    </div>
    <div class="grid-item">
      <label for="pudm">Pois/Unit de mellange:</label><br>
      <input type="text" id="pudm" name="pudm" value="{{ data[1] }}" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number" oninput="calculateTotal()"><br>
    </div>
    <div class="grid-item">
      <label>Pois/Total de mellange:</label><br>
      <span id="totalPoids"></span>
    </div>
    <div class="grid-item">
      <label for="pf">Pois fardo:</label><br>
      <input type="text" id="pf" name="pf" value="{{ data[2] }}" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number" oninput="calculateTh()"><br>
    </div>
    <div class="grid-item">
      <label>Nombre de fardo theoriquement:</label><br>
      <span id="nft"></span>
    </div>
    <div class="grid-item">
      <label for="nfr">Nombre de fardo reel:</label><br>
      <input type="text" id="nfr" name="nfr" value="{{ data[3] }}" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number"><br>
    </div>
    <div class="grid-item">
      <label for="pfb">poid/film et bloc:</label><br>
      <input type="text" id="pfb" name="pfb" value="{{ data[4] }}" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number"><br>
    </div>
    <div class="grid-item">
      <label for="pbe">poid/bobine extrude:</label><br>
      <input type="text" id="pbe" name="pbe" value="{{ data[5] }}" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number" oninput="calculateTh2()"><br>
    </div>
    <div class="grid-item">
      <label for="pbu">poid brut unitaire:</label><br>
      <input type="text" id="pbu" name="pbu" value="{{ data[6] }}" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number" oninput="calculateTh2()"><br>
    </div>
    <div class="grid-item">
      <label>Nombre fardo theorique:</label><br>
      <span id="nft2"></span>
    </div>
    <div class="grid-item">
      <label for="stock">Stock:</label><br>
      <input type="text" id="stock" name="stock" value="{{ data[7] }}" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number" oninput="calculate()"><br>
    </div>
    <div class="grid-item">
      <label for="stock">Unite:</label><br>
      <input type="text" id="unit" name="unit" value="{{ data[8] }}" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number" oninput="calculate()"><br>
    </div>
    <div class="grid-item">
      <label for="stock">Prix unit:</label><br>
      <input type="text" id="p_unit" name="p_unit" value="{{ data[9] }}" pattern="[0-9]+(\.[0-9]+)?" title="Enter a valid number" oninput="calculate()"><br>
    </div>
    <div class="grid-item">
      <label>Valeur du stock:</label><br>
      <span id="v_stock"></span>
    </div>
    <div class="grid-item"></div>
  </div>
  <button type="submit" class="button-19">Save</button>
</form>
<script>
  var totalPoids = 0;
  var calc3 = 0;

  calculateTotal();
  calculateTh();
  calculateTh2();
  calculate();

  function calculateTotal() {
    var ndmValue = parseFloat(document.getElementById('ndm').value) || 0;
    var pudmValue = parseFloat(document.getElementById('pudm').value) || 0;

    totalPoids = ndmValue * pudmValue;

    document.getElementById('totalPoids').textContent = totalPoids.toFixed(2);
  }

  function calculateTh() {
    var pfValue = parseFloat(document.getElementById('pf').value) || 1;

    var nft = totalPoids / pfValue; 

    document.getElementById('nft').textContent = nft.toFixed(2);
  }

  function calculateTh2() {
    var pbeValue = parseFloat(document.getElementById('pbe').value) || 0;
    var pbuValue = parseFloat(document.getElementById('pbu').value) || 1;

    var nft = pbeValue / pbuValue; 

    document.getElementById('nft2').textContent = nft.toFixed(2);
  }

  function calculate() {
    var stockValue = parseFloat(document.getElementById('stock').value) || 0;
    var unitValue = parseFloat(document.getElementById('unit').value) || 0;
    var pUnitValue = parseFloat(document.getElementById('p_unit').value) || 0;

    calc3 = stockValue * unitValue * pUnitValue;

    document.getElementById('v_stock').textContent = calc3.toFixed(2);
  }
</script>
{% endblock %}
