{% extends 'main.html' %}

{% block head %}
<title>Stock View</title>
<style>
  table {
    border-collapse: collapse;
    width: 40%;
    margin: 30%;
    margin-top: 1%;
    border: 3px solid black;
  }

  td {
    border: 2px solid black;
  }
</style>
{% endblock %}

{% block top %}
<a href="/detail/view" id="back"><div class="thick-arrow-left"></div></a>
<a href="/main" id="aclose"><div class="close"></div></a>
{% endblock %}

{% block bot %}
<h1>{{ date }}</h1>
<table>
  <tr>
    {% for game in games %}
      <td onclick="window.location='/detail/view/{{ date }}/{{ game[0]|urlencode}}';" style="cursor: pointer;">{{ game[0] }}</td>
      {% if loop.index % 4 == 0 %}
        </tr><tr>
      {% endif %}
    {% endfor %}
  </tr>
</table>
{% endblock %}
