{% extends 'main.html' %}

{% block head %}
<title>Date list</title>
<style>
  table {
    border-collapse: collapse;
    width: 40%;
    margin: 30%;
    margin-top: 1%;
  }
</style>
{% endblock %}

{% block top %}
<a href="/cost/{{ name }}" id="back"><div class="thick-arrow-left"></div></a>
<a href="/main" id="aclose"><div class="close"></div></a>
{% endblock %}

{% block bot %}
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Price</th>
      <th>TXT1</th>
      <th>TXT2</th>
    </tr>
  </thead>
  <tbody>
    {% for data in datas %}
    <tr>
      <td>{{ data.date }}</td>
      <td class="dFloat">{{ data.price }}</td>
      <td>{{ data.txt1 }}</td>
      <td>{{ data.txt2 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
{% endblock %}
