{% extends 'main.html' %}

{% block head %}
<title>Frai</title>
{% endblock %}

{% block top %}
<a href="/main" id="back"><div class="thick-arrow-left"></div></a>
<a href="/main" id="aclose"><div class="close"></div></a>
{% endblock %}

{% block bot %}
  <a href="/cost/view"><button type="button" class="button-19 bot">list des frai</button></a>
  <br><br>
  <a href="/cost/add"><button type="button" class="button-19 bot">Ajoute un frai</button></a>
  <br><br>
  <a href="/cost/edit"><button type="button" class="button-19 bot">modifier un frai</button></a>
  <br><br>
  <a href="/cost/remove"><button type="button" class="button-19 bot">Supprimer frai</button></a>
{% endblock %}
