{% extends 'main.html' %}

{% block head %}
<title>Frai</title>
{% endblock %}

{% block top %}
<a href="/main" id="back"><div class="thick-arrow-left"></div></a>
<a href="/main" id="aclose"><div class="close"></div></a>
{% endblock %}

{% block bot %}
  <a href="/cost/calc"><button type="button" class="button-19 bot">calcule</button></a>
  <br><br>
  <a href="/cost/eudox"><button type="button" class="button-19 bot">eudox</button></a>
  <br><br>
  <a href="/cost/polypap"><button type="button" class="button-19 bot">polypap</button></a>
  <br><br>
  <a href="/cost/personnel"><button type="button" class="button-19 bot">personnel</button></a>
{% endblock %}
