{% extends 'main.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
<title>Add game</title>
{% endblock %}

{% block top %}
<a href="/game" id="back"><div class="thick-arrow-left"></div></a>
<a href="/main" id="aclose"><div class="close"></div></a>
{% endblock %}

{% block bot %}
<form id="stockForm" action="/game/add" method="post">
  <br><br><br><br>
  <label class="l-lab" for="name">Nom:</label>
  <br>
  <input type="text" class="l-inp" name="name" required>
  <br><br>
  <label class="l-lab" for="unite">Unite:</label>
  <br>
  <input type="text" class="l-inp" pattern="[0-9]+(\.[0-9]+)?" name="unite" required>
  <br><br>
  <label class="l-lab" for="punit">Prix unite:</label>
  <br>
  <input type="text" class="l-inp" pattern="[0-9]+(\.[0-9]+)?" name="punit" required>
  <br><br>
  <button type="Submit" id="submitButton" class="button-19 cen">Enregistre</button>
  <br><br><br>
</form>
{% endblock %}
