<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login2.css') }}">
    <title>login page</title>
  </head>
  <body>
    <div id="bg_img">
      <fieldset class="mid-log">
        <legend class="legend-c">Login</legend>
        <form id="loginForm" action="/" method="post">
          <br>
          <label class="l-lab" for="pass">Password:</label>
          <br>
          <input class="l-inp" name="pass" id="password" type="password" placeholder=" Enter your password">
          <br><br>
          <button class="button-19" type="submit">Login</button>
        </form> 
      </fieldset> 
    </div>
  </body>
</html>  

