<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}
    <title>EUDOX EMBALAGE</title>
    {% endblock %}
  </head>
  <body>
    <div class="bg">
      <div class="hd">
        <img class="logo" src="{{ url_for('static', filename='assets/lll.png') }}" onclick="goToHomePage()" style="cursor: pointer;"/>
        <h1 class="fn" onclick="goToHomePage()" style="cursor: pointer;">EUDOX EMBALAGE</h1>
        <ul class="nav">
          <li><a href="/client">Client</a></li>
          <li><a href="/stock">Stock</a></li>
          <li><a href="/detail">Detaille</a></li>
          <li><a href="/time">Temp</a></li>
          <li><a href="/work">Employes</a></li>
          <li><a href="/game">Game</a></li>
          <li><a href="/">Logout</a></li>
        </ul>
      </div>
      <div class="display_frame">
        <div class="top_side">
          {% block top %}{% endblock %}
        </div>
        <div class="bot_side">
          {% block bot %}{% endblock %}
        </div>
      </div>
    </div>
    <script>
      function goToHomePage() {
        window.location.href = '/main';
      }
      // JavaScript to format floating-point numbers within elements with class 'dFloat'
      document.addEventListener('DOMContentLoaded', function() {
        // Select all elements with class 'dFloat'
        var elements = document.querySelectorAll('.dFloat');

        // Iterate over each element
        elements.forEach(function(element) {
          // Get the original content of the element
          var originalContent = element.textContent;

          // Parse the content to a float and format it with 2 decimal places
          var formattedContent = parseFloat(originalContent).toFixed(2);

          // Update the content of the element with the formatted value
          element.textContent = formattedContent;
        });
      });
    </script>
  </body>
</html>

