{% extends 'main.html' %}

{% block head %}
<title>Time</title>
{% endblock %}

{% block top %}
<a href="/main" id="back"><div class="thick-arrow-left"></div></a>
<a href="/main" id="aclose"><div class="close"></div></a>
{% endblock %}

{% block bot %}
  <a href="/time/calc"><button type="button" class="button-19 bot">Calculator</button></a>
  <br><br>
  <a href="/time/s"><button type="button" class="button-19 bot">Soudeuses</button></a>
  <br><br>
  <a href="/time/g"><button type="button" class="button-19 bot">Granulatric</button></a>
  <br><br>
  <a href="/time/e"><button type="button" class="button-19 bot">Extrudeuse</button></a>
{% endblock %}
