{% extends 'main.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
<title>Add working time</title>
{% endblock %}

{% block top %}
<a href="/time/{{ name }}" id="back"><div class="thick-arrow-left"></div></a>
<a href="/main" id="aclose"><div class="close"></div></a>
{% endblock %}

{% block bot %}
<form id="stockForm" action="/time/{{ name }}/add" method="post" onsubmit="return validateForm()">
  <br>
  <label class="l-lab" for="workerSelector">selction employee:</label>
  <select class="l-inp" id="workerSelector" name="workerSelector" required>
    {% for worker in workers %}
      <option value="{{ worker.id }}">{{ worker.name }}</option>
    {% endfor %}
  </select>
  <br><br>
  
  <label class="l-lab" for="entryTime">Temp d'entrer:</label>
  <input class="l-inp" type="time" id="entryTime" name="entryTime" required>
  <br><br>
  
  <label class="l-lab" for="departureTime">Temp de sortie:</label>
  <input class="l-inp" type="time" id="departureTime" name="departureTime" required>
  
  <br><br>
  <label class="l-lab" for="emargement">Emargement:</label>
  <input class="l-inp" type="text" id="emargement" name="emargement">
  <br><br>

  <label class="l-lab" for="observation">Observation:</label>
  <input class="l-inp" type="text" id="observation" name="observation">
  <br>
  
  <button type="submit" id="submitButton" class="button-19 cen">Enregistrer</button>
  <br><br><br>
</form>

<script>
  function validateForm() {
    var entryTime = document.getElementById("entryTime").value;
    var departureTime = document.getElementById("departureTime").value;
    var submitButton = document.getElementById("submitButton");

    return true;
  }
</script>
{% endblock %}
