{% extends 'main.html' %}

{% block head %}
<title>Date list</title>
<style>
  table {
    border-collapse: collapse;
    width: 40%;
    margin: 30%;
    margin-top: 1%;
  }

  th, td {
    border: 1px solid #333344;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) td {
    background-color: #3a8cff;
  }

  tr:nth-child(odd) td {
    background-color: #4ba0ff;
  }
</style>
{% endblock %}

{% block top %}
<a href="/time/{{ name }}/view" id="back"><div class="thick-arrow-left"></div></a>
<a href="/main" id="aclose"><div class="close"></div></a>
{% endblock %}

{% block bot %}
<table>
  <tr>
    <th>DATE</th>
  </tr>
  {% for date in dates %}
  <tr>
    <td onclick="window.location='/time/{{ name }}/{{ date[0] }}/view';" style="cursor: pointer;">{{ date[0] }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
