{% extends 'main.html' %}

{% block head %}
<title>View time</title>
<style>
table {
  border-collapse: collapse;
  width: 70%;
  margin: 15%;
  margin-top: 1%;
  margin-bottom: 1%;
}

tr:nth-child(even) td {
  background-color: #ff5c5c;
}

tr:nth-child(odd) td {
  background-color: #ff7e7e;
}

  .custom-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
  }

  .custom-popup p {
    margin-bottom: 15px;
  }

  .custom-popup button {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 5px;
    font-size: 14px;
  }

  .custom-popup button.yes {
    background-color: #ff5c5c;
    color: #fff;
  }

  .custom-popup button.no {
    background-color: #5cb85c; 
    color: #fff;
  }

  .custom-popup button:hover {
    opacity: 0.8;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
</style>
{% endblock %}

{% block top %}
<a href="/time" id="back"><div class="thick-arrow-left"></div></a>
<a href="/main" id="aclose"><div class="close"></div></a>
{% endblock %}

{% block bot %}
<div class="overlay" id="overlay"></div>
<div class="custom-popup" id="customPopup">
  <p>Voulez vous vraiment supprimer ce fichie?</p>
  <button onclick="deleteFile()" class="yes">Oui</button>
  <button onclick="closePopup()" class="no">Non</button>
</div>
<table>
  <tr>
    <th>Nom et prenom</th>
    <th>Heure d'entree</th>
    <th>Heure de sortie</th>
    <th>Emargement</th>
    <th>Observation</th>
  </tr>
  {% for result in results %}
  <tr onclick="openPopup('{{ result[5] }}');" style="cursor: pointer;">
    <td>{{ result[0] }}</td>
    <td>{{ result[1] }}</td>
    <td>{{ result[2] }}</td>
    <td>{{ result[3] }}</td>
    <td>{{ result[4] }}</td>
  </tr>
  {% endfor %}
</table>
<script>
  let user;
  let name = '{{ name }}'; 
  let date = '{{ date }}';

  function openPopup(user_id) {
    user = user_id;
    document.getElementById('overlay').style.display = 'block';
    document.getElementById('customPopup').style.display = 'block';
  }

  function closePopup() {
    document.getElementById('overlay').style.display = 'none';
    document.getElementById('customPopup').style.display = 'none';
  }

  function deleteFile() {
    window.location = '/time/' + name + '/' + date + '/remove/' + user;
  }
</script>
{% endblock %}
