{% extends 'main.html' %}

{% block head %}
<title>View time</title>
<style>
table {
  border-collapse: collapse;
  width: 70%;
  margin: 15%;
  margin-top: 1%;
  margin-bottom: 1%;
}
</style>
{% endblock %}

{% block top %}
<a href="/time/{{ name }}/view" id="back"><div class="thick-arrow-left"></div></a>
<a href="/main" id="aclose"><div class="close"></div></a>
{% endblock %}

{% block bot %}
<table>
  <tr>
    <th>Nom et prenom</th>
    <th>Heure d'entree</th>
    <th>Heure de sortie</th>
    <th>Emargement</th>
    <th>Observation</th>
  </tr>
  {% for result in results %}
  <tr>
    <td>{{ result[0] }}</td>
    <td>{{ result[1] }}</td>
    <td>{{ result[2] }}</td>
    <td>{{ result[3] }}</td>
    <td>{{ result[4] }}</td>
  </tr>
  {% endfor %}
</table>
<form action="/time/{{ name }}/{{ date }}/view" method="post" style="display:inline;" target="_blank">
  <button type="submit" class="button-19">PDF</button>
</form>

{% endblock %}
