{% extends 'main.html' %}

{% block head %}
<title>View workers</title>
<style>
  table {
    border-collapse: collapse;
    width: 40%;
    margin: 30%;
    margin-top: 1%;
  }

  tr:nth-child(even) td {
    background-color: #808080;
  }

  tr:nth-child(odd) td {
    background-color: #9c9c9c;
  }
</style>
{% endblock %}

{% block top %}
<a href="/work" id="back"><div class="thick-arrow-left"></div></a>
<a href="/main" id="aclose"><div class="close"></div></a>
{% endblock %}

{% block bot %}
  <h2>Employee</h2>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
      </tr>
    </thead>
  <tbody>
      {% for worker in workers %}
      <tr onclick="window.location='/work/edit/{{ worker.id }}';" style="cursor: pointer;">
        <td>{{ worker.first_name }}</td>
        <td>{{ worker.last_name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
{% endblock %}
